<div class="page-button-panel">
  <app-reusable-button label="Back to Main Menu" buttonType="nav" (onClick)="navigateToMainMenu()"></app-reusable-button>
  <app-reusable-button label="Spawn Straight Brown" buttonType="spawn" (onClick)="handleSpawnSpecificImage('straightBrown')"></app-reusable-button>
  <app-reusable-button label="Spawn Straight Grey" buttonType="spawn" (onClick)="handleSpawnSpecificImage('straightGrey')"></app-reusable-button>
  <app-reusable-button label="Spawn Corner Brown" buttonType="spawn" (onClick)="handleSpawnSpecificImage('cornerBrown')"></app-reusable-button>
  <app-reusable-button label="Spawn Corner Grey" buttonType="spawn" (onClick)="handleSpawnSpecificImage('cornerGrey')"></app-reusable-button>
  <app-reusable-button label="Delete All" buttonType="delete" (onClick)="handleDeleteAllClick()"></app-reusable-button>
  <app-reusable-button label="Diagnostics" buttonType="default" (onClick)="toggleDiagnostics()"></app-reusable-button>
</div>
<div id="pixi-container"></div>
