<div class="page-button-panel">
  <app-reusable-button label="Back to Main Menu" buttonType="nav" (onClick)="navigateToMainMenu()"></app-reusable-button>
  <app-reusable-button label="Spawn Straight Brown" buttonType="spawn" (onClick)="handleSpawnSpecificImage('straightBrown')"></app-reusable-button>
  <app-reusable-button label="Spawn Straight Green" buttonType="spawn" (onClick)="handleSpawnSpecificImage('straightGreen')"></app-reusable-button>
  <app-reusable-button label="Spawn Turn Brown" buttonType="spawn" (onClick)="handleSpawnSpecificImage('turnBrown')"></app-reusable-button>
  <app-reusable-button label="Spawn Turn Green" buttonType="spawn" (onClick)="handleSpawnSpecificImage('turnGreen')"></app-reusable-button>
  <app-reusable-button label="Delete All" buttonType="delete" (onClick)="handleDeleteAllClick()"></app-reusable-button>
  <app-reusable-button label="Diagnostics" buttonType="default" (onClick)="toggleDiagnostics()"></app-reusable-button>
</div>
<div id="pixi-container"></div>
